.h-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.s-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}