.container {
    margin-top: 3%;
}

.heading {
    margin-bottom:10px;
}
.linklin {
    margin-left: 530px;
    color: #3b5998;
    margin-bottom: 20px;
    margin-top: 0%;
    
}

.AiTwotoneMail {
    margin-left: 10px;
    color: #3b5998;
    margin-bottom: 20px;
    margin-top: 0%;
}